{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <title>List lowongan</title>
  <link rel="stylesheet" href="{% static 'jobseeker/list_lowongan_style.css' %}">

{% endblock %}

{% block content %}
  <div id="list-lowongan-container" class="align-self-center w-75 m-3 d-flex flex-column gap-3">
    <h1 class='text-center font-base-red'>Cari Lowongan Pekerjaan</h1>
    
    <form> 
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <i class="bi bi-search"></i>
          </span>
        </div>
        <input name="search_query" type="text" value="{{request.GET.search_query}}" class="form-control" placeholder="Nama lowongan" aria-label="search" aria-describedby="basic-addon1">
      </div>
      
    </form>
    {% if not list_lowongan %}
      <div class="rounded border bg-light d-flex align-items-center justify-content-center" style="min-height:350px">
        {% if request.GET.search_query != '' %}
          <div>Lowongan yang dicari tidak dapat ditemukan</div>
        {% else %}
          <div>Belum ada lowongan yang dibuka</div>
        {% endif %}
      </div>
    {% endif %}

    <div id="list-lowongan" style="display:grid; grid-template-columns:1fr 1fr;grid-gap:2em;">
        {% for lowongan in list_lowongan %}
          <div class="card">
            <img class="card-img-top m-2" style="max-width: 30px; max-height:30px;" src={% static '/images/default.png' %} alt="Card image cap">
            <div class="card-body d-flex flex-column gap-2">
              <h5 class="card-title fw-bold">{{ lowongan.posisi }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ lowongan.users_id.name }}</h6>
              <div class="d-flex gap-2">
                <i class="bi bi-currency-dollar"></i>
                <div>Rp {{ lowongan.gaji }}</div>
              </div>
              <div class="d-flex gap-2">
                <i class="bi bi-clock"></i>
                <div>Min {{ lowongan.lama_pengalaman }} tahun pengalaman</div>
              </div>
              <div class="d-flex gap-2">
                <i class="bi bi-calendar2-range"></i>
                <div>{{ lowongan.buka_lowongan }} s.d. {{ lowongan.batas_pengumpulan }}</div>
              </div>
              <a href="#" class="align-self-start mt-2 mb-2 btn bg-base-red text-white">Lihat Lowongan</a>
            </div>
          </div>
        {% endfor %}
    </div>

    <nav aria-label="..." class="align-self-center">
      <ul class="pagination">
        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
          <a 
          style='color:black;'
          class="page-link" 
          href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %} {% if request.GET.search_query != '' %}&search_query={{request.GET.search_query}}{% endif %}" tabindex="-1"
          >
          Previous
        </a>
        </li>
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a style='color:black;' class="page-link" href="?page={{ page_obj.previous_page_number }} {% if request.GET.search_query != '' %}&search_query={{request.GET.search_query}}{% endif %}">
            {{ page_obj.previous_page_number }}
          </a>
        </li>
      {% endif %}
        <li class="page-item active">
          <a style="border-color: white;" class="page-link bg-base-red" href="?page={{ page_obj.number }} {% if request.GET.search_query != '' %}&search_query={{request.GET.search_query}}{% endif %}"> {{ page_obj.number }} </a>
        </li>
        {% if page_obj.has_next %}
        <li class="page-item">
          <a style='color:black;' class="page-link" href="?page={{ page_obj.next_page_number }} {% if request.GET.search_query != '' %}&search_query={{request.GET.search_query}}{% endif %}">
            {{ page_obj.next_page_number }}
          </a>
        </li>
      {% endif %}
        <li style='color:black;' class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
          <a style='color:black;' class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %} {% if request.GET.search_query != '' %}&search_query={{request.GET.search_query}}{% endif %}">Next</a>
        </li>
      </ul>
    </nav>

  </div>
{% endblock %}
