{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Dashboard Proposal Lowongan</title>
<link rel="stylesheet" href="{% static 'css/dashboard_verifikasi.css' %}">
{% endblock meta %}

{% block script %}
<script src="/static/script/sidebar.js"></script>
{% endblock script %}

{% block content %}
{% if messages %}
{% for message in messages %}
    {% if 'berhasil' in message|lower%}
      <div class="alert alert-success" role="alert">{{ message }}</div>
    {% elif 'ditolak' in message|lower %}
      <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% else %}
      <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endif %}
{% endfor %}
{% endif %}

<div id="mySidebar" class="sidebar gh">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a class="hov active" href="{% url 'dashboard_proposal_lowongan:dashboard'%}">Request Verifikasi Lowongan</a>
  <a class="hov gh" href="{% url 'dashboard_proposal_lowongan:terverifikasi'%}">Terverifikasi</a>
  <a class="hov gh" href="{% url 'dashboard_proposal_lowongan:riwayat'%}">Riwayat</a>
</div>

<div id="main">
  <button class="openbtn gh" onclick="toggleNav()" style="background-color: transparent;">
    <img src="{% static '/images/sidebarhamburger.png' %}" style="width: 50px; height: 50px;" alt="">
  </button>
  <div class="container center d ghd">
    <h2 style="color: #D02E4A;text-align: center; margin-bottom: 1%;"><strong>Dashboard Request Verifikasi
        Lowongan</strong></h2>
  </div>

  <div class="card-container d-flex justify-content-center">
    <div class="card top-card gh" style="background-color: #fff;">
      <span style="display:flex;align-items: center;">
        <img src="{% static '/images/waitverif.png' %}" width="20" height="22" alt="">
        <small style="color: #F59E0B"><strong>Menunggu Verifikasi: {{unverified}}</strong></small><br>
      </span>
    </div>
    <div class="card gh" style="background-color: #fff">
      <span style="display:flex;align-items: center;">
        <img src="{% static '/images/verif.png' %}" width="25" height="25" alt="">
        <small style="color:green"><strong>Terverifikasi: {{terverifikasi}}</strong></small><br>
      </span>
    </div>
    <div class="card gh" style="background-color: #fff">
      <span style="display:flex;align-items: center;">
        <img src="{% static '/images/tolak.png' %}" width="25" height="25" alt="">
        <small style="color:red"><strong>Ditolak: {{tolak}}</strong></small><br>
      </span>
    </div>
    <div class="card gh" style="background-color: #fff;">
      <span style="display:flex;align-items: center;">
        <img src="{% static '/images/total.png' %}" width="25" height="25" alt="">
        <small style="color: #0097EC;"><strong>Total: {{total}}</strong></small><br>
      </span>
    </div>
  </div>

  {% if msg > 0%}
  <div class="container-fluid mt-4 gh">
    <div class="justify-content-center gh">
      <div class="col-auto mb-3 gh">

        {% for lowongan, company in lowongan_with_companies %}
        <div class="card-main gh" style="width: 48rem;box-shadow: 0 2px 4px rgba(0,0,0,0.2);">
          <div class="card-body gh">
            {% if lowongan.status.strip|lower == 'belum terverifikasi'%}
            <span class="badge rounded-pill gh" style="background-color: #FEEEC9;color: #845124;">BELUM TERVERIFIKASI
            </span>
            {%endif%}
            <h5 class="card-title as"><strong>{{company.0.name}} - {{lowongan.posisi}}</strong></h5>
            <p class="card-text">
              {% if lowongan.deskripsi|length > 221 %}
            <p class="card-text as">{{ lowongan.deskripsi|slice:":221"|safe }} .......</p>
            {% else %}
            <p class="card-text as">{{lowongan.deskripsi}}</p>
            {% endif %}
            </p>
            <a href="{% url 'dashboard_proposal_lowongan:detail' lowongan.id %}"><strong>Lihat Lowongan</strong></a>
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
  </div>
  {% else%}
  <div class="container flex msg as">
    <p><strong>{{msg}}</strong></p>
  </div>
  {% endif%}
</div>
{% endblock%}