{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>Dashboard Riwayat Proposal Lowongan</title>
<link rel="stylesheet" href="{% static 'css/dashboard_verifikasi.css' %}">
{% endblock meta %}

{% block script %}
<script src="/static/script/sidebar.js"></script>
{% endblock script %}

{% block content %}
<div id="mySidebar" class="sidebar c">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a class="hov c" href="{% url 'dashboard_proposal_lowongan:dashboard'%}">Request Verifikasi Lowongan</a>
  <a class="hov c" href="{% url 'dashboard_proposal_lowongan:terverifikasi'%}">Terverifikasi</a>
  <a class="hov active" href="{% url 'dashboard_proposal_lowongan:riwayat'%}">Riwayat</a>
</div>

<div id="main">
  <button class="openbtn" onclick="toggleNav()" style="background-color: transparent;">
    <img src="{% static '/images/sidebarhamburger.png' %}" style="width: 50px; height: 50px;" alt="">
  </button>
  <div class="container center d d">
    <h2 style="color: #D02E4A;text-align: center; margin-bottom: 1%;"><strong>Riwayat Request Verifikasi
        Lowongan</strong></h2>
  </div>

  <div class="card-container d-flex justify-content-center c">
    <div class="card top-card" style="background-color: #fff;">
      <span style="display:flex;align-items: center;">
        <img src="{% static '/images/waitverif.png' %}" width="20" height="22" alt="">
        <small style="color: #F59E0B"><strong>Menunggu Verifikasi: {{unverified}}</strong></small>
      </span>
    </div>
    <div class="card c" style="background-color: #fff">
      <span style="display:flex;align-items: center;">
        <img src="{% static '/images/verif.png' %}" width="25" height="25" alt="">
        <small style="color:green"><strong>Terverifikasi: {{terverifikasi}}</strong></small>
      </span>
    </div>
    <div class="card c"  style="background-color: #fff">
      <span style="display:flex;align-items: center;">
        <img src="{% static '/images/tolak.png' %}" width="25" height="25" alt="">
        <small style="color:red"><strong>Ditolak: {{tolak}}</strong></small>
      </span>
    </div>
    <div class="card c" style="background-color: #fff;">
      <span style="display:flex;align-items: center;">
        <img src="{% static '/images/total.png' %}" width="25" height="25" alt="">
        <small style="color: #0097EC;"><strong>Total: {{total}}</strong></small>
      </span>
    </div>
  </div>

  {% if msg > 0%}
  <div class="container-fluid mt-4 c">
    <div class="justify-content-center c">
      <div class="col-auto mb-3 c">
        {% for lowongan, company in lowongan_with_companies %}
        <div class="card-main v" style="width: 48rem;box-shadow: 0 2px 4px rgba(0,0,0,0.2);">
          <div class="card-body v">

            {% if lowongan.status.strip|lower == 'sudah terverifikasi'%}
            <span class="badge rounded-pill d" style="background-color: #28a745;">TERVERIFIKASI
            </span>
            {% elif lowongan.status.strip|lower == 'belum terverifikasi'%}
            <span class="badge rounded-pill d" style="background-color: #ffc107;">BELUM
              TERVERIFIKASI
            </span>
            {% elif lowongan.status.strip|lower == 'ditolak'%}
            <span class="badge rounded-pill de" style="background-color: #dc3545;">DITOLAK
            </span>
            {%endif%}

            <h5 class="card-title de"><strong>{{company.0.name}} - {{lowongan.posisi}}</strong></h5>

            <p class="card-text de">
              {% if lowongan.deskripsi|length > 221 %}
            <p class="card-text de">{{ lowongan.deskripsi|slice:":221"|safe }} .......</p>
            {% else %}
            <p class="card-text de">{{lowongan.deskripsi}}</p>
            {% endif %}
            </p>

            <a href="{% url 'dashboard_proposal_lowongan:detail' lowongan.id %}"><strong>Lihat Lowongan</strong></a>

          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>
  {% else%}
  <div class="container flex msg de">
    <p><strong>{{msg}}</strong></p>
  </div>
  {% endif%}
</div>
{% endblock%}