@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: #D02E4A;
    align-items: center;
}
.outer {
    align-items: center;
    width: 90vw;
    max-width: 1300px;
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.outer .inner-left img {
    width: 400px;
    margin: auto;
}

.outer .inner-right .content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    overflow-y: auto;
    overflow: hidden;
}

.outer .inner-right .content .inner-content {
    width: 300px;
}

.outer .inner-right .content .inner-content h2 {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 5px;
}
.outer .inner-right .content .inner-content p {
    font-size: 12px;
    text-align: center;
    color: #717171;
}
.outer .inner-right .content .inner-content .p-atas {
    margin-bottom: 35px;
}
.outer .inner-right .content .inner-content .p-bawah {
    margin-top: 50px;
}
.outer .inner-right .content .inner-content a {
    font-weight: bold;
    color: #D02E4A;
}
.outer .inner-right .content .inner-content .atau-line-content p {
    margin: 0;
}

.outer .inner-right .content .inner-content .atau-line-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    font-size: 15px;
    font-weight: 300;
    color: #6c6c6c;
    width: 350px;
}
.outer .inner-right .content .inner-content .atau-line-content img {
    width: 150px;
    height: 3px;
}

.form-control {
    font-size: 14px;
}
.mb-3 {
    margin-bottom: 0 !important;
}
.mb-3 label {
    font-size: 14px;
    margin: 0;
}
.button-content {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
#buat-akun-btn {
    font-size: 18px;
    padding: 5px 20px;
    border-radius: 50px;
    border: none;
    color: white;
    background-color: #D02E4A;
}
form .back-btn {
    width: 30px;
}
form input {
    font-size: 8px;
}
form .back-btn img {
    width: 20px;
    margin: 20px 0;
    cursor: pointer;
}

@media (max-width: 1000px) {
    body {
        align-items: center;
    }
    .outer {
        flex-direction: column-reverse;
        max-height: 100vh;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        right: 50%;
        transform: translate(-50%, 50%);
    }
    .outer .inner-left img {
        display: none;
    }
}
@media (max-width: 600px) {
    .outer .inner-right .content {
        width: 300px;
        height: 300px;
        margin: auto;
    }
    .outer .inner-right .content .inner-content {
        width: 200px;
    }
    .outer .inner-right .content .inner-content h2 {
        font-size: 18px;
    }
    .outer .inner-right .content .inner-content p {
        font-size: 10px;
    }
    .outer .inner-right .content .inner-content .atau-line-content {
        font-size: 8px;
    }
    span.icon img {
        width: 15px;
    }
    a.buttonText {
        font-size: 12px;
    }
    .customBtn {
        width: 250px;
        height: 30px;
    }
    .outer .inner-right .content .inner-content .atau-line-content {
        width: 200px;
        justify-content: space-around;
    }
    .outer .inner-right .content .inner-content .atau-line-content img {
        width: 70px;
        height: 0.5px;
    }
    .outer .inner-right .content .inner-content .p-atas {
        margin-bottom: 20px;
    }
    .form-control {
        font-size: 14px;
    }
    .mb-3 label {
        font-size: 14px;
        margin: 0;
    }
    .button-content {
        margin-top: 25px;
    }
}