html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 16px;

}

.bg-img {
    background-size: cover;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
}


.bg-base-red {
    background-color: #B0152D;
}

.bg-base-purple {
    background-color: #3633C6;
}

.bg-base-purple:hover {
    background-color: #32308b;

}

.font-base-red {
    color: #D02E4A;
}

.segment-card {
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #D1D5DB;
}

.nav-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #B0152D;
}

.nav-link:hover {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #E74141;
}

.header {
    font-size: 52px;
    font-weight: 600;
}

.subheader-1 {
    font-size: 28px;
    font-weight: 600;
}

.subheader-2 {
    font-size: 18px;
    font-weight: 600;
}

.nav-item .nav-link {
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .nav-item .nav-link {
        padding: 3px 0 10px 30px !important;
    }

    .logo {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .logo2 {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .logo {
        display: none;
    }
    .logo2{
        display: block;
    }
}