{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Jobseeker Teknokrat</title>
<link rel="stylesheet" href="{% static 'css/home.css'%}" />
{% endblock meta %}

{% block content %}
<div class="outer">
  <div class="inner-content">
    <h1>Cari Lowongan Pekerjaan</h1>
    <div class="row height d-flex content-form">
      <div class="form">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control form-input" placeholder="Cari Pekerjaan...">
      </div>
    </div>
</div>
{% endblock content %}