{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Jobseeker Teknokrat</title>
<link rel="stylesheet" href="{% static 'css/home.css'%}" />
{% endblock meta %}

{% block content %}
<div class="hero">
  <img class="ellipse-red" alt="ellipse red" src="{% static 'images/ellipse-red.png' %}">
  <div class="outer bg-img">
    <div class="inner-content">
      <h1>Job Portal</h1>
      <p>Selamat datang di website kami! Kami adalah platform yang membantu Anda menemukan pekerjaan impian Anda.</p>
      <div class="row height d-flex content-form">
        <form class="form" action="/list_lowongan/">
          <em class="fa fa-search"></em>
          <input name="search_query" type="text" class="form-control form-input" placeholder="Cari Pekerjaan...">
        </form>
        <img class="ellipse-1" alt="ellipse 1" src="{% static 'images/ellipse-1.png' %}">
      </div>
    </div>
    <div class="inner-icon">
      <img class="icon-search" alt="icon search" src="{% static 'images/icon-search.png' %}">
      <img class="ellipse-2" alt="ellipse 2" src="{% static 'images/ellipse-2.png' %}">
    </div>
  </div>
</div>
{% endblock content %}